/*-------HEADER--------*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

:root {
    --title-color: #2e2f42;
    --first-main-color: #4d5ae5;
    --second-main-color: #404bbf;
    --white-color: #f4f4fd;
    --tipical-line-height: 1.5;
}

.link {
    text-decoration: none
}

.list {
    list-style: none
}

/* .header {}

.header-navigation {}

.header-logo {}

.header-list {}

.header-item {} */

.header-link-first {
    color: var(--first-main-color);
}

.header-link-second {
    color: var(--first-main-color);
}

.link-text {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-link {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--tipical-line-height);
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--second-main-color);
}

.address {
    font-style: normal;
}

/* .address-list {}

.address-item {}
 */
.address-link {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: var(--tipical-line-height);
    letter-spacing: 0.02em;
    color: inherit;
}

.address-link:hover,
.address-link:focus {
    color: var(--second-main-color);
}